* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
button {
    outline: none;
}
.title {
    @media screen and (max-width: 767px) {
        font-size: 1.6rem;
    }
}
